.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 415px;
  margin: 0 auto;
}

.carousel__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
}

.carousel__btn--left {
  left: 20px;
}

.carousel__btn--right {
  right: 20px;
}

.carousel__chevron {
  width: 100%;
  height: 100%;
}

.carousel__chevron--left {
  transform: rotate(-90deg);
}

.carousel__chevron--right {
  transform: rotate(90deg);
}

.carousel__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel__image {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.carousel__title {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.carousel__indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}
