.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header img {
  width: 160px;
}

.header nav {
  display: flex;
}

.header ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
}

.nav-links li a.active {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .banner {
    height: 111px;
  }
  .nav-links li a {
    font-size: 12px;
  }
}
